/* =========common code start ============ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --white: #fff;
    --primary: #282938;
    --yellow: #FCD980;
    --blue: #2405F2;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol {
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p {
    line-height: .8;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.paragraph {
    color: var(--primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
}
.heading {
    color: var(--primary);
    font-size: 48px;
    font-weight: 600;
    line-height: 134%;
    text-transform: capitalize;
}
.sub_heading {
    color: var(--primary);
    font-size: 32px;
    font-weight: 500;
    line-height: 150%;
    text-transform: capitalize;
}
.view_arrow {
    color: var(--yellow);
    font-size: 16px;
    font-weight: 500;
    line-height: 175%;
    text-transform: capitalize;
}
/* =========common code end ============ */

/* =========Navbar code start ============ */
nav {
    padding: 16px 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 48px;
}
.nav_menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 32px;
}
.nav_menu ul li a {
    color: #BBBBCB;
    font-size: 16px;
    font-weight: 500;
    line-height: 175%;
    text-transform: capitalize;
    transition: all linear .3s;
}
.nav_menu ul li a:hover{
    color: var(--white);
}
.nav_btn a{
    color: var(--white);
    text-transform: capitalize;
    padding: 16px 48px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    border-radius: 48px;
    transition: all linear .3s;
}
.nav_btn a:hover {
    background-color: #FCD980;
    color: var(--primary);
}
/* =========Navbar code end ============ */

/* =========banner code start ============ */
#banner {
    background-color: #1C1E53;
    padding: 218px 0 128px 0;
}
.banneer_wrapper {
    display: flex;
    column-gap: 60px;
}
.banner_content h1{
    width: 582px;
    color:var(--white);
    font-size: 54px;
    font-weight: 600;
    line-height: 137%;
    text-transform: capitalize;
}
.banner_content p {
    width: 562px;
    margin-top: 24px;
    color: var(--white);
    font-weight: 500;
}
.banner_btn{
    margin-top: 48px;
}
.banner_btn a {
    padding: 16px 56px;
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--primary);
    font-size: 18px;
    font-weight: 600;
    line-height: 177%;
    border-radius: 41px;
    transition: all linear .3s;
}
.banner_btn a:hover {
    color: var(--primary);
    background-color: var(--yellow);
}
.banner_btn a i {
    margin-left: 16px;
    vertical-align: center;
    font-size: 16px;
    width: 24px;
    color: white;
}
.banner_btn a:last-child {
    background-color: transparent;
    color: white;
    border: none;
    transition: all linear .3s;
}
.banner_btn a:last-child:hover {
    background-color: var(--yellow);
    color: var(--primary);
}
.banner_btn a:last-child:hover i {
    color: var(--primary);
}
/* =========banner code end ============ */

/* =========work code start ============ */
#work {
    padding: 128px 0;
    background-color: #F4F6FC;
}
.work_wrapper {
    display: flex;
    column-gap: 142px;
}
.work_heading {
    width: 405px;
}
.work_heading p{
    width: 405px;
    margin: 16px 0 16px 0;
}
.work_heading a {
    color: var(--blue);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.work_main {
    width: 656px;
    margin-right: 77px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}
.work_item {
    width: 50%;
}
.work_item_img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: var(--blue);
    position: relative;
}
.work_item_img span {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 177%; 
}
.work_item_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.work_item_cont h4{
    margin: 16px 0 8px 0;
}
/* =========work code end ============ */

/* =========View code start ============ */
#view {
    padding: 128px 0;
}
.view_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}
.view_heading a{
    color: var(--primary);
}
.view_headinga i{
    margin-left: 16px;
}
.view_content {
    display: flex;
    align-items: center;
    column-gap: 32px;
}
.big_item {
    width: 843px;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.big_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.big_item .overlay {
    height: 100%;
    width: 396px;
    position: absolute;
    left: -396px;
    top: 0;
    background-color: rgba(28, 30, 83, 0.55);
    z-index: 66;
    padding: 312px 35px 76px 48px;
    transition: all linear .3s;
}
.big_item:hover .overlay{
    left: 0;
}
.big_item .overlay h4 {
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    text-transform: capitalize;
    margin-bottom: 16px;
    width: 313px;
}
.big_item .overlay p {
    width: 293px;
    color: var(--white);
    margin-bottom: 40px;
}
.view_content a i{
    margin-left: 16px;
}
.tiny_item {
    width: 405px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.tiny_box {
    width: 100%;
    height: 284px;
    overflow: hidden;
    position: relative;
}
.tiny_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tiny_box .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 30, 83, 0.55);
    transition: all linear .3s;
    padding: 129px 36px 45px 56px;
    opacity: 0;
    visibility: hidden;
}    
.tiny_box:hover .overlay{
    opacity: 1;
    visibility: visible;
}
.tiny_box .overlay h4 {
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 10px;
    width: 292px;
}

/* =========View code end ============ */

/* =========Design code start ============ */
#design{
    padding-left: 128px 0;
    background-color: #F4F6FC;   
}
.design_heading h5 {
    color: var(--primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 175%;
    text-transform: capitalize;
    text-align: center;
}
.design_heading h2 {
   width: 630px;
   margin: 12px auto 48px auto;
   text-align: center;
}
.design_wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 24px;
}
.design_item {
    padding: 58px 32px 48px 48px;
    width: 405px;
}
.design_icon i {
    color: var(--blue);
    font-size: 32px;
}
.design_item h4 {
    color: var(--primary);
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-transform: capitalize;
    margin: 22px 0 12px 0;
    width: 314px;
}
.design_item .paragraph {
    width: 324px;
}
/* =========Design code end ============ */

/* =========review code start ============ */
#about {
    padding: 130px 0;
    background-color: rgba(244, 246, 252, 0.504);
    border: 1px solid rgba(0, 0, 0, 0.505);
}
.about_wrapper {
    display: flex;
    column-gap: 110px;
    /* margin-top: 128px; */
}
.about_heading {
    width: 414px;
    margin-top: 128px;
}
.about_heading h2 {
    width: 414px;
    font-size: 38px;
    margin-bottom: 16px;
}
.about_heading p {
    width: 414px;
}
.about_client_info {
    width: 756px;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    margin-top: 128px;
}
.client_message h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 150%;
    color: var(--primary);
    width: 756px;
}
.client_data {
    display: flex;
    column-gap: 15px;
    align-items: center;
    margin-top: 48px;
}
.client_img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden;
}
.client_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.client_cont {
    width: 183px;
}
.client_cont h4{
    color: var(--primary);
    font-size: 18px;
    font-weight: 500;
    line-height: 177%;
    text-transform: capitalize;
}
.client_cont h5{
    color: var(--primary);
    font-size: 12px;
    font-weight: 500;
    line-height: 233%;
    text-transform: capitalize;
}

/* =========review code end ============ */

/* =========common code start ============ */
/* =========common code end ============ */

/* =========common code start ============ */
/* =========common code end ============ */

/* =========common code start ============ */
/* =========common code end ============ */
